@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 100% 95%; /* light turquoise */
    --foreground: 205 90% 25%; /* bright ocean blue */

    --muted: 120 50% 75%; /* vibrant seaweed green */
    --muted-foreground: 210 80% 45%; /* clear water blue */

    --popover: 190 100% 95%; /* light turquoise */
    --popover-foreground: 205 90% 25%; /* bright ocean blue */

    --card: 190 100% 95%; /* light turquoise */
    --card-foreground: 205 90% 25%; /* bright ocean blue */

    --border: 120 60% 65%; /* vibrant seaweed green */
    --input: 120 60% 65%; /* vibrant seaweed green */

    --primary: 205 90% 25%; /* bright ocean blue */
    --primary-foreground: 190 100% 95%; /* light turquoise */

    --secondary: 120 50% 75%; /* vibrant seaweed green */
    --secondary-foreground: 205 90% 25%; /* bright ocean blue */

    --accent: 120 50% 75%; /* vibrant seaweed green */
    --accent-foreground: 205 90% 25%; /* bright ocean blue */

    --destructive: 350 100% 50%; /* bright coral red */
    --destructive-foreground: 190 100% 95%; /* light turquoise */

    --ring: 210 80% 45%; /* clear water blue */

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 90% 10%;
    --foreground: 196 50% 93.5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 40%;

    --popover: 200 90% 10%;
    --popover-foreground: 196 50% 93.5%;

    --card: 200 90% 10%;
    --card-foreground: 196 50% 93.5%;

    --border: 0 0% 96%;
    --input: 0 0% 96%;

    --primary: 0 0% 96%;
    --primary-foreground: 180 80% 20%;

    --secondary: 200 90% 10%;
    --secondary-foreground: 196 50% 93.5%;

    --accent: 0 0% 96%;
    --accent-foreground: 200 80% 10%;

    --destructive: 0 70% 30%;
    --destructive-foreground: 196 50% 93.5%;

    --ring: 0 0% 96%;

    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
